body {
    font-family: 'Roboto', 'Arial', sans-serif;
    background-color: white;
    color: black;
}

h1 {
    text-align: center;
    font-size: 64px;
    color: #42f58a;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin-bottom: 0;
}

header > p {
    margin-top: 0;
    text-align: center;
    font-size: 18px;
}

#autor {
    color: #42f58a;
    text-decoration: none;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#autor:hover {
    text-decoration: underline;
}

table {
    border: 1px solid white;
    margin: 100px 0;
    width: 100%;
    border-collapse: collapse;
}

tr {
    border: 1px solid black;
}

td, th {
    padding: 5px 10px;
    margin: 0;
    border: 1px solid black;
}

th {
    background-color: #bbb;
}

#trAval > th {
    background-color: #42f58a;
}

#balao {
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    background-color: #ddd;
    color: black;
    padding: 5px 10px;
    border: 1px solid black;
    box-shadow: -3px -3px 5px #bbb;
}
